@import url('https://fonts.googleapis.com/css?family=Arapey|Antic+Didon|Great+Vibes');

body{
  margin: 0;
  padding:0;
  font-family: 'Antic Didone', serif;
  /* background: url('../images/background.jpg'); */

   /* background-color: #77aa77; */
     /* height: 300vh; */
  /* background: url('../images/texture.svg');
background-attachment: fixed;
background-size: cover;
background-size: contain;
 */
  /* background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><rect fill="#ffffff" width="100" height="100"/><g stroke="#CCC" stroke-width="0" ><rect fill="#F5F5F5" x="-60" y="-60" width="110" height="240"/></g></svg>' ) */
}
.has-text-aligned{
  text-align: center;
}
.cursive{
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
}
.header-font{
  font-family: "Arapey script=all rev=2", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
.main-background
{
  padding-top: 100vh;
  padding-bottom: 75vh;
  min-height: 100vh;
  width: 100vw;
  background: url('../images/background-modified-min.png');
  background-repeat: no-repeat;
background-attachment: fixed;
background-position: bottom;
background-size: cover;
}
.date-main-content{

  width: 80vw;
  margin: 0 auto;
    background-color: rgba(250,250,250,0.95);
    /* background: url('../images/background.jpg'); */
    background-repeat: repeat-y;
    background-size: contain;
    padding-top: 50px;
    -webkit-box-shadow: 9px 9px 5px -9px rgba(0,0,0,0.53);
    -moz-box-shadow: 9px 9px 5px -9px rgba(0,0,0,0.53);
    box-shadow: 9px 9px 5px -9px rgba(0,0,0,0.53);
}
.date-main-content h1
{

  font-size: 32px;
  text-align: center;
  display: inline-block;
  /* border: 1px solid black; */
  margin: 0 auto;

  padding: 10px 20px;
}

.dates-container{
  /* width: 80vw; */
  /* margin: 0 auto; */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.date-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 150px;
}
.date-content{
  width: 80vw;
}
.timeline-dot-container{
  width: 10vw;
  margin-right: 20px;
  position: relative;
}
.timeline-dot{
  height: 25px;
  width: 25px;
  background-color: #C9DAEA;
  border-radius: 50%;
  margin: 0 auto;
}
.timeline-dot h3{
  padding-left: 50px;
  margin: 0;
  line-height: 25px;
}
.timeline-dot::after{
  content: '';
  height: calc(50vh + 150px) ;
  position: absolute;
  width: 2px;
  background-color: #D8DBE2;
  top: 25px;
  left: 50%;
}
.timeline-dot::before{
  content: '';
  height: calc(50vh + 150px) ;
  position: absolute;
  width: 2px;
  background-color: #D8DBE2;
  bottom: 25px;
  left: 50%;
}

.date-container:nth-child(even) .left-container .timeline-dot::before{
  display: none;
}
.date-container:nth-child(even) .right-container .timeline-dot::after{
  display: none;
}
.date-container:nth-child(odd) .right-container .timeline-dot::before{
  display: none;
}
.date-container:nth-child(odd) .left-container .timeline-dot::after{
  display: none;
}


.date-container:first-child .left-container .timeline-dot{
  display: none;
}

.date-container:last-child .timeline-dot::after{
  display: none;
}
.date-container:last-child .right-container.last-odd .timeline-dot{
  display: none;
}
.date-container:last-child .left-container.last-even .timeline-dot{
  display: none;
}
/* .date-container:first-child .timeline-dot::before{
  display: none;
} */

.date-container .date-header{
  color: #C9BCA7;
  font-size: 14px;
}
path{
  transition: 0.5s all;
}
.i-love-you{
  height: 100vh;
  background-color: #C9BCA7;
  position: relative;
}
.i-love-you h1{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  line-height: 75px;
  height: 75px;
  font-weight: 500;
  color: #C9DAEA;
}
